img {
  width: 60%;
  max-width: 650px;
  height: auto;
}

body {
  background-color: #fff2e6;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: 50px;
  margin-top: 0px;
}
h3 {
  font-size: 30px;
  margin-top: 12px;
}

p {
  padding-left: 15%;
  padding-right: 15%;
}
